@use 'src/styles/vars';

.header {
  background-color: vars.$primary;
  color: vars.$light;
  width: 100%;
  text-align: center;
  padding: vars.$gutter * 3 0;
  
  &__title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: vars.$gutter;
  }

  &__amount {
    font-size: 1.2rem;

  }

}
