@use 'src/styles/vars';

.result {
  color: vars.$primary;
  background-color: vars.$light;
  width: 100%;
  padding: vars.$gutter * 3 0;
  text-align: center;
  
  &__value {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__currency {
    font-size: 1.2rem;

  }

}
